.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar-dark {
  background-color: rgb(59, 59, 59);

}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.nav-link:hover .home:after {content: ""}
.nav-link:hover .home:before { content: "Home" }

.nav-link:hover .educate:after {content: ""}
.nav-link:hover .educate:before { content: "Educate" }

.nav-link:hover .support:after {content: ""}
.nav-link:hover .support:before { content: "Support" }

.nav-link:hover .advocate:after {content: ""}
.nav-link:hover .advocate:before { content: "Advocate" }