.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

img[alt]:after {  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;  
  text-align: center;
  content: attr(alt);
}

img{
  max-width: 25%;
  max-height: 25%;
}
img.img-front{
  max-width: 75%;
  max-height: 75%;
}

.list-group-flush {
  border-bottom: 1px solid grey;
}

.card {
  border-radius: 0 !important;
}

